<div class="row">
    <div class="col-xs-4">Project id :</div>
    <div class="col-xs-8">{{projectDetail._id}}</div>
</div>
<div class="row">
    <div class="col-xs-4">Nom du Projet :</div>
    <div class="col-xs-8">{{projectDetail.name}}</div>
</div>
<div class="row">
    <div class="col-xs-4">Mail du contact :</div>
    <div class="col-xs-8md-7">{{projectDetail.mail}}</div>
</div>
<div class="row">
    <div class="col-xs-4">Catégorie du projet :</div>
    <div class="col-xs-8">{{projectDetail.category}}</div>
</div>
<div class="row">
    <div class="col-xs-4">Description id :</div>
    <div class="col-xs-8">{{projectDetail.description}}</div>
</div>