<div class="container main">
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Project list</h3>
                  </div>
                  <div class="panel-body main-panel">

                      <a href="/#/newproject">Create a new project</a>

                      <table class="table table-striped">
                      <tr>
                        <th>Name</th>
                        <th>Mail</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Amount</th>
                      </tr>
                      <tr ng-repeat="project in projects">
                        <td><a href="/#/project/{{project._id}}">{{project.name}}</a></td>
                        <td>{{project.user}}</td>
                        <td>{{project.category}}</td>
                        <td>{{project.description}}</td>
                        <td>{{project.goal}}</td>
                      </tr>
                    </table>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>