<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                <i class="fa fa-play-circle"></i>  {{'NAVBARTITLE' | translate }}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/#/projects">{{'NAVBARDISCOVER' | translate }}</a>
                </li>
                <li ng-show="currentUser" class="page-scroll">
                    <a href="/#/newproject">{{'NAVBARNEWPROJECT' | translate }}</a>
                </li>
                <li ng-hide="currentUser" class="page-scroll">
                    <a href="/#/login">{{'NAVBARLOGIN' | translate }}</a>
                </li>
                <li>
                    <div class="inline languages">
                        <a href="" ng-click="changeLanguage('en_US')">en_US</a>/<a href="" ng-click="changeLanguage('fr_FR')">fr_fr</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>