
<div class="container main">
  <div class="row ">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create a project</h3>
        </div>
        <div class="panel-body main-panel">
          <form name="projectForm" class="css-form" novalidate>
            <fieldset>
                <div class="form-group">
                  <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                      <input class="form-control" placeholder="Project Name (max 20 char.)" name="name" ng-model="project.name" type="text" ng-maxlength="20" required>
                  </div>
                  <span ng-show="projectForm.name.$error.maxlength">Project name length should be less than 20 character.</span>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                      <input class="form-control" placeholder="User Email" ng-model="project.user" type="email" value="" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-align-left"></span></span>
                      <textarea rows="4" class="form-control" placeholder="Description" ng-model="project.description" value="" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                      <input class="form-control" placeholder="Amount to reach (max 1000)" ng-model="project.goal" name="goal" type="number" min="0" max="1000" integer required>
                  </div>
                  <span ng-show="projectForm.goal.$error.number">Amount should be a number !</span>
                  <span ng-show="projectForm.goal.$error.min || projectForm.goal.$error.max">
                    Amount should be less than 1000 (and positive)</span>
                </div>
                <input ng-disabled="projectForm.$invalid" class="btn btn-lg btn-success btn-block" type="submit" value="Launch your project {{project.name}}" ng-click="addProject(project)">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>