<div class="container main">
  <div class="row ">
      <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Project list</h3>
              </div>
              <div class="panel-body main-panel">
                
                <a href="#/newproject">Create a project</a>
                <table class="table table-striped">
                  <thead>
                    <th>Name</th>
                    <th>User</th>
                    <th>Description</th>
                    <th>Goal</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="p in projects">
                      <td> <a href="#/project/{{p.id}}">{{p.name}}</a> </td>
                      <td>{{p.user}}</td>
                      <td>{{p.description}}</td>
                      <td>{{p.goal}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>
</div>